<div class="container">
  <h1><%= @list.name %></h1>
  <div class="card col-sm-6" style="width: 18rem;">
    <% @list.bookmarks.each do |bookmark| %>
      <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="">
      <div class="card-body">
      <h5 class="card-title"><li> <%= bookmark.movie.title %> </li></h5>
      <p class="card-text"><li> <%= bookmark.comment %></p>
      </a><%= link_to 'Delete this',
        bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary" %>
      <% end %>
  </div>
</div>
    <div class="mb-3">
    <li>
      <%= link_to 'Add a Movie to the List', new_list_bookmark_path(@list) %>
      <%= link_to 'Back to the Lists', lists_path %>
    </li>
    </div>
    <%= cl_image_tag("cld-sample-5",
      width: 400, height: 300, crop: :fill) %>
</div>
